/* Structure
---------------------------------------------------------------------------- */
.patterns__site {
	width: 90%;
	max-width: 1024px;
	margin: 2em auto;
	text-align: left;
	position: relative;
}

.patterns__top {
	clear: both;
	float: right;
	margin-top: 0.5em;
	padding: 0.5em 1em;
	font-family: "FFDINWebProBold", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: #49bed8;
	color: #fff !important;
}

@media screen and ( min-width: 600px ) { .patterns__top { display: none; } }

/* Patterns header
---------------------------------------------------------------------------- */
.patterns__header {
	max-width: 25em;
	margin: 2em auto 0 auto;
}

.patterns__header span { font-family: "FFDINWebProBold", Helvetica, Arial, sans-serif; }

/* Patterns navigation
---------------------------------------------------------------------------- */
.patterns__nav {
	padding: 1em 0;
}

.patterns__nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.patterns__nav li { margin: 0.7em 0.5em; }

.patterns__nav li a {
	padding: 0.5em 1em;
	border: 1px solid rgb(163, 151, 140);
	text-transform: capitalize;
}

.patterns__nav li a:hover { background: rgb(163, 151, 140); }

@media screen and ( min-width: 600px ) {
	.patterns__nav {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 100;
	}
}

/* Pattern
---------------------------------------------------------------------------- */
.pattern {
	clear: both;
	overflow: hidden;
	margin: 2em 0;
	padding: 1em 0;
	border-bottom: 1px solid #ccc;
}

.pattern:last-of-type { margin-bottom: 15em; }

.pattern header h2 {
	margin: 0 0 1em 0;
	text-transform: capitalize;
}

.pattern__info {
	margin-top: -0.75em;
	font-size: 1.6rem;
	color: #aaa;
}

/* Colors
---------------------------------------------------------------------------- */
.colour {
  display: inline-block;
	width: 48%;
  height: 100px;
  position: relative;
	margin: 0 1% 5em 0;
}

@media screen and ( min-width: 600px ) { .colour { width: 23%; } }

.colour p { display: block; }

.colour__swatch {
  display: block;
	width: 100%;
  height: 100%;
  position: relative;
  margin-top: 0.5em;
	border: 1px solid #ccc;
}

.colour__swatch span {
  background: #000;
  background: rgba(0,0,0,.7);
  bottom: 0;
  color: #fff;
  font-size: 1em;
  margin: 0;
  opacity: 0;
  padding: 16px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.colour__swatch:hover span { opacity: 1; }

/* Main colours */
.col-page { background: #f5f3f2; } /* rgb(245, 243, 242)			milk */
.col-text { background: #5a554d; } /* rgb(90, 84, 77)					chocolate */
.col-border { background: #ccc; }
.col-reverse-btn { background: #000; }

/* Main support colours */
.col-light { background: #f5f3f2; } /* rgb(245, 243, 242)			milk */
.col-dark { background: #5a554d; } /* rgb(90, 84, 77)					chocolate */
.col-white { background: #fff; }

.col-extra-lighter { background: rgb(225, 221, 218); } /* milk with a little chocolate */
.col-extra-light { background: rgb(202, 196, 190); } /* milk with a chocolate */
.col-extra-dark { background: rgb(163, 151, 140); } /* chocolate with milk, or Swiss cow brown */
.col-extra-darker { background: rgb(130, 120, 112); } /* chocolate with lots of milk, or Diary Milk brown */

/* Cronofy colours */
.col-cronofy-lightbrown { background: #a3978c; } 				/* rgb(163, 151, 140)		milk chocolate */
.col-cronofy-brown { background: #5a554d; } 						/* rgb(90, 84, 77)			chocolate */

.col-cronofy-blue { background: #49bed8; }							/* rgb(73, 190, 216)		turquoise */
.col-cronofy-blue-hover { background: #76CFE2; } 				/* 75% */

.col-cronofy-seagreen { background: #2e787d; }					/* rgb(50, 119, 125)		sea green */
.col-cronofy-seagreen-hover { background: #65999E; }  	/* 75% */

/* Extra button colours */
.col-cronofy-accent {	background: #ffc100; } 						/* mustard yellow */
.col-cronofy-accent-hover {background: #ecb400; } 			/* darker mustard yellow */

.col-cronofy-landing { background: #d35400; } 						/* pumpkin orange */
.col-cronofy-landing-hover { background: #de7f3f; } 			/* 75% */

/* Miscellaneous */
.col-required { background: #c7254e; } /* red */
.col-optional { background: #17be7c; } /* green */
.col-google { background: #dd4c39; } /* red */

/* Fonts
---------------------------------------------------------------------------- */
.typeface__light { font-family: "FFDINWebLight", Helvetica, Arial, sans-serif; }
.typeface__italic { font-family: "FFDINWebLightItalic", Helvetica, Arial, sans-serif; }
.typeface__bold { font-family: "FFDINWebProBold", Helvetica, Arial, sans-serif; }
.typeface__code { font-family: Monaco, Menlo, Monaco, Consolas, 'Courier New', monospace; }
